MHC-I_Software/
tmp_out/
del_files/
data_not_transfered/
/Users/eawilso6/Covid-19/EnsembleMHC-Covid19/datasets/big_files/*
/SI_figures/
/Users/eawilso6/Covid-19/EnsembleMHC-Covid19/plots/SI_tables/*csv
/Users/eawilso6/Covid-19/EnsembleMHC-Covid19/plots/main_figures/*pdf
